# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Model files
models/*.pkl
models/*.joblib

# Dataset files
data/*.csv
data/processed/

# Environment variables
.env